<mat-toolbar color="primary">
  <span>{{ title }} {{ locName }}</span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav-sidenav" mode="side" [opened]="true">
    <mat-card *ngIf="selectedEvent" style="margin: 8px">
      <mat-card-title>Event info</mat-card-title>
      <mat-card-subtitle>{{ selectedEvent.info.title }}</mat-card-subtitle>
      <mat-card-content>
        <p>
      {{ selectedEvent.info.day }}, {{ selectedEvent.info.time }}<br>
      {{ selectedEvent.info.address1 }}<br>
      {{ selectedEvent.info.postal }} {{ selectedEvent.info.region }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-raised-button [href]="selectedEvent.info.link" target="_blank">Link</a>
      </mat-card-actions>
    </mat-card>

    <mat-card style="margin: 8px">
      <mat-card-title>Canvass events</mat-card-title>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let marker of colorList" style="height: 32px">
            <img matListAvatar src="{{ labelIconUrl }}{{ marker.color }}&scale=2.0" style="height: 30px; width: 30px">
            <p matLine> {{ marker.date }} </p>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-sidenav>
  <mat-sidenav-content>
    <google-map
      id="googlemap"
      height="900px"
      width="100%"
      [zoom]="zoom"
      [center]="center"
      [options]="options"
      (zoomChanged)="setNewRadius()">
      <map-marker
        #markerElem
        *ngFor="let marker of markers"
        [position]="marker.position"
        [label]="marker.label"
        [title]="marker.title"
        [options]="marker.options"
        (mapClick)="openInfo(markerElem, marker)">
      </map-marker>
    </google-map></mat-sidenav-content>
</mat-sidenav-container>

<div>
</div>
