<mat-toolbar color="primary">
  <span>{{ title }} {{ locName }}</span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav-sidenav" mode="side" [opened]="true">
    <div *ngIf="selectedEvent">
      <h2>Event info</h2>
      <p><b>{{ selectedEvent.info.title }}</b><br>
      {{ selectedEvent.info.day }}, {{ selectedEvent.info.time }}<br>
      {{ selectedEvent.info.address1 }}<br>
      {{ selectedEvent.info.postal }} {{ selectedEvent.info.region }}</p>
      <a [href]="selectedEvent.info.link" target="_blank">Link</a>
      <br>
    </div>
    <h2>Canvass events</h2>
    <mat-list>
      <mat-list-item *ngFor="let marker of colorList">
        <img matListAvatar src="{{ labelIconUrl }}{{ marker.color }}&scale=2.0">
        <p matLine> {{ marker.date }} </p>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <google-map
      id="googlemap"
      height="900px"
      width="100%"
      [zoom]="zoom"
      [center]="center"
      [options]="options"
      (zoomChanged)="setNewRadius()">
      <map-marker
        #markerElem
        *ngFor="let marker of markers"
        [position]="marker.position"
        [label]="marker.label"
        [title]="marker.title"
        [options]="marker.options"
        (mapClick)="openInfo(markerElem, marker)">
      </map-marker>
    </google-map></mat-sidenav-content>
</mat-sidenav-container>

<div>
</div>
